option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 2G
    zlib.output_compression: "Off"
    allow_url_fopen: "On"
    display_errors: "Off"
    max_execution_time: 120

files:
  "/etc/php.d/z-extra.ini":
    mode: "000755"
    owner: root
    group: root
    content: |
      post_max_size = 1G
      upload_max_filesize = 1G
      max_file_uploads = 20
      date.timezone = America/Fortaleza